@charset "utf-8";
/* CSS Document */

body { padding: 0px; margin: 0px; font-family: 'lato'; overflow-x: hidden }

.txtleft { text-align: left }
.txtRight { text-align: right }
.txtCenter { text-align: center; }
.floatleft { float: left }
.floatright { float: right }
.txtupper { text-transform: uppercase }
.bluecolor{   color: #005387 !important; }
.textlight{font-weight:300 }
ul{padding:0px; margin:0px; list-style:none;}

h1, h2, h3, h4 { padding: 0px; margin: 0px; }
h1, .h1 { font-size: 25px; }
h2, .h2 { font-size: 20px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 16px; }

.dashboard { width: 100%; display: table; content: ""; }
.dashboard .pblogo { margin: 10px 0 0 0; }
.dashboard .header { background: #005387; clear: both; border-bottom: 3px solid #004570; }

.pagelinks{padding:0px; margin:0px; list-style:none;}
.pagelinks li{float:left;    margin: 12px 10px;}
.pagelinks li a{font-size:12px; color:#fff; text-decoration:none;}

.listItm{width: 70%;
   
    background: #fff;
    box-shadow: 0px 0px 8px #ccc;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
}
.listItm li, .doctype li{float:left;    margin: 6px 10px;    width: 28%;}
.doctype li{float:left;    margin: 6px 30px;}
.listItm li input[type='radio'], .doctype li input[type='checkbox']{float:left; outline:none;}
.listItm li label,.doctype li label{font-size: 13px;
    color: #999;
    text-decoration: none;
    float: left;
    padding: 1px 0;
    font-weight: bold;
}
.doctype li label{color:#005387}


.dashboard .filter{background: #FDFDFD;
    border-bottom: 1px solid #F5F5F5;
    padding: 10px 0px;
    border-top: 1px solid #F5F5F5;margin: 20px 0px;
}
.dashboard .filter label {
        font-size: 12px;
    font-weight: 600;
    float: left;
    padding: 3px;
  

}

.dashboard .filter select{
      width: 235px;
    padding: 3px 5px;
    box-sizing: border-box;
   background: #F7F7F7 url('../images/blue-arrow.png') no-repeat 215px;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    margin-left: 5px; outline:none; 
	
	  -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none; 
  
}

.dashboard .advsearch { background: #25A6E1; background: -moz-linear-gradient(top, #25A6E1 0%, #188BC0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25A6E1), color-stop(100%, #188BC0)); background: -webkit-linear-gradient(top, #25A6E1 0%, #188BC0 100%); background: -o-linear-gradient(top, #25A6E1 0%, #188BC0 100%); background: -ms-linear-gradient(top, #25A6E1 0%, #188BC0 100%); background: linear-gradient(top, #25A6E1 0%, #188BC0 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1', endColorstr='#188BC0', GradientType=0);
padding: 8px 13px; color: #fff; font-size: 13px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #1A87B9; outline: none; }

.activitWall.wd80{width:80%; margin:10px auto;}
.activitWall.wd60{width:60%; margin:10px auto;}
.activitWall{width:100%; }
.activitWall .wrapper{padding:0px 10px; box-sizing:border-box; width:100% }

.fixWd { width: 1024px; overflow: hidden; height: 500px; overflow-y: scroll; position: relative; }
.cusTable { display: table; padding: 0px; clear: both; border-collapse: collapse; margin: 0; }
.cusRow { display: table-row; border: 1px solid #e1e1e1; cursor: pointer }
.cusBody li.cusRow:hover, .cusBody li.cusRow.active { background: #ffffdd; font-weight: 600; }
.cusRow > span { list-style: none; display: table-cell; color: #828282; border-bottom: 1px solid #e1e1e1; padding: 4px 4px 8px 4px; font-size: 12px; }


.cusHeader.headFix { position: absolute !important; width: 1006px; }
.cusRow > span.w2 { width: 2% }
.cusRow > span.w3 { width: 3% }
.cusRow > span.w5 { width: 5% }
.cusRow > span.w8 { width: 8% }
.cusRow > span.w10 { width: 10% }
.cusRow > span.w13 { width: 13% }
.cusRow > span.w15 { width: 15% }
.cusRow > span.w20 { width: 20% }
.cusRow > span.w22 { width: 22% }
.cusRow > span.w23 { width: 23% }
.cusRow > span.w25 { width: 25% }
.cusRow > span.w40 { width: 40% }
.cusRow > span.w45 { width: 45% }
.cusRow > span.w70 { width: 70% }
.cusRow > span a.urls { text-decoration: underline; color: #49BCEC; }
.cusRow > span a.urls:hover { text-decoration: none; color: #000; }
.cusHeader { display: table-header-group;/*position: absolute;*/ }
.cusHeader span { background-color: #F0F0F0; color: #333; font-weight: 600; padding: 4px 4px 8px 4px; }
.cusBody { display: table-row-group; position: absolute; top: 32px; width: 100%; }



.pbchat { margin: 0px; padding: 0px; }
.pbchat:after, .pbchat:before { display: table; content: " "; clear: both; }
.pbchat-1, .pbchat-2, .pbchat-3, .pbchat-4, .pbchat-5, 
.pbchat-6, .pbchat-7, .pbchat-8, .pbchat-9, .pbchat-10,
.pbchat-11, .pbchat-12 { float: left; padding: 10px; box-sizing: border-box; display: table; content: " "; }
.pbchat-13{ width: 50%; float: left; padding: 20px; box-sizing: border-box; display: table; content: " ";}
.pbchat-12 { width: 100%; }
.pbchat-11 { width: 91.66666667%; }
.pbchat-10 { width: 83.33333333%; }
.pbchat-9 { width: 75%; }
.pbchat-8 { width: 66.66666667%; }
.pbchat-7 { width: 58.33333333%; }
.pbchat-6 { width: 50%; }
.pbchat-5 { width: 41.66666667%; }
.pbchat-4 { width: 33.33333333%; }
.pbchat-3 { width: 25%; }
.pbchat-2 { width: 16.66666667%; }
.pbchat-1 { width: 8.33333333%; }
/*re-updation*/


.gradientBoxesWithOuterShadows { 
height: 98%;
width: 95%; 
padding: 20px;
background-color: white; 
margin:10px auto;

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}

.gradientBoxesWithOuterShadows1 { 
height: 220px;
width: 60%; 
padding: 20px;
background-color: white; 
margin:10px auto;

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}


